/* *Basic CSS Reset & Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 120%
}

body {
    background-color: #dcdff9;
}

/* *Image Styles */

.background_image_container {
    position: relative;
    width: 800px;
    height: 100vh;
}

.background_image_container img {
    width: 100%;
    height: 100%;
}

.foreground_image_container {
    position: absolute;
    width: 150px;
    top: 5%;
    left: 5%;
}

.foreground_image_container img+span::before {
    position: absolute;
    content: "Odin";
    font-family: 'Norse';
    font-size: 9.5rem;
    top: 8%;
    left: 115s%;
    background-image: linear-gradient(to bottom, white 25%, red, blue, green);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.foreground_image_container img {
    width: 100%;
}