/* *Basic CSS Reset & Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%
}

body {
    background-color: #dcdff9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page_wrapper {
    display: flex;
}

/* *Image Styles */

.background_image_container {
    position: relative;
    width: 100vh;
    height: 100vh;
}

.background_image_container img {
    width: 100%;
    height: 100%;
}

.image_credit {
    color: #fff;
    position: absolute;
    bottom: 1%;
    right: 42%;
}

.image_credit a {
    color: #fff;
}

.foreground_image_container {
    position: absolute;
    width: 150px;
    top: 5%;
    left: 9%;
}

.foreground_image_container img {
    width: 100%;
}

.foreground_image_container img+span::before {
    position: absolute;
    content: "Odin";
    font-family: 'Norse';
    font-size: 9.5rem;
    top: 8%;
    left: 115%;
    background-image: linear-gradient(to bottom, white 25%, red, blue, green);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


/* *Main Content Styles */

.main_content {
    margin-left: 2.5rem;
}


.para {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 3rem auto;
}


/* *Form Styles */

.form_body {
    font-size: 1.7rem;
    padding: 1.5rem 0;
    background-color: #f0f1ff;
}

.form_body>h2 {
    font-size: 2rem;
}